body {
    background-image: url('https://images.unsplash.com/photo-1604948501466-4e9c339b9c24?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y2hlc3MlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    width: 400px;
    height: 400px;
    transform: rotate(0deg);
}

.piece.white {
    color: white;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
}

.piece.black {
    color: black;
}

.flipped {
    transform: rotate(180deg);
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square.light {
    background-color: #f0e5d3;
}

.square.dark {
    background-color: #b58863;
}

.piece {
    font-size: 36px;
    cursor: pointer;
}

.piece.draggable {
    cursor: grab;
}

.dragging {
    opacity: 0.5;
}

/* Rotate pieces for black player */
.flipped .piece {
    transform: rotate(180deg);
}

.btn-play {
    padding: 16px 32px;
    background-color: wheat;
    color: black;
    border-radius: 8px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-play:hover {
    background-color: rgb(224, 180, 98);
}

.btn-play:focus {
    outline: none;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.chess-title {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

/* Toast styling */
.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
}

.toast.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}